.carousel {
    width: 2000px;
    height: 500px;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    max-width: 300%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #myCarousel {
    --f-carousel-slide-height: 60%;
    --f-carousel-spacing: 10px;
  

  }
